/*general*/
body {
    margin: 0;
}

button {
    background-color: white;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    padding: 3px;
    outline: none;
}

/*table*/
.text_cell {
    padding-right: 30px;
}

.selection_cell {
    display: flex;
    flex-direction: column;
    height: 40px;
}

.text_selection {
    display: inline;
}

.btn_X {
    margin-left: 5px;
}

/*modal wnd*/
.modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    width: 500px;

    background-color: white;
    border: solid 1.5px black;
}

.gray_screen_modal {
    position: absolute;
    top: 0;
    z-index: 2;

    background-color: gray;
    opacity: .5;

    width: 100%;
    height: 100%;
}

.head_modal {
    position: relative;

    margin-left: 25px;
    margin-top: 2px;
}

.choose_container_modal {
    border: solid 1.5px black;
    margin: 20px 25px;
    height: 350px;
    overflow: auto;
}

.choose_table_modal {
    border-collapse: collapse;
    width: 100%;
}

.choose_table_modal td {
    padding-left: 13px;
}

.choose_table_modal tr {
    cursor: pointer;
}

.choose_table_modal tr:hover {
    background-color: gray;
}

.close_btn_modal {
    position: absolute;
    z-index: 4;
    right: 5px;
    border: 0;
}

.controls_modal {
    margin: 0 25px 20px 25px;
    display: flex;
    justify-content: flex-end;
}

.btn_modal {
    width: 85px;
    height: 21px;
    margin-left: 15px;
}

.choose_row {
    background-color: gray;
}

/*Modal for modal*/
.mod_gray_screen {
    z-index: 5;
}

.mod_modal {
    z-index: 6;
    width: 400px;
    text-align: center;
}

.text_scnd_modal {
    padding: 25px;
}

.btn_scnd_modal {
    width: 85px;
    height: 21px;
    margin: 0 5px 10px;
}
